.config/vesktop/sessionData/
.config/vesktop/Crashpad/
.config/vesktop/SingletonCookie
.config/vesktop/SingletonLock
.config/vesktop/SingletonSocket
.config/spicetify/Backup/
.config/spicetify/Extracted/
.config/clipse/tmp_files/
.config/clipse/clipboard_history.json
.config/gh/hosts.yml
.config/obs-studio/logs/
.config/obs-studio/updates/
.config/obs-studio/plugin_config/
.config/obs-studio/profiler_data/
.config/obs-studio/basic/profiles/Untitled/service.json
.config/quickshell/.qmlls.ini
.config/DankMaterialShell/plugins/
!.config/DankMaterialShell/plugins/pkgUpdate/
