include "spawns.kdl"
include "keybinds.kdl"
include "env.kdl"
include "rules.kdl"
include "io.kdl"
include "general.kdl"

include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"

