gestures { hot-corners { top-left; }; }

input {
    keyboard {
        xkb { options "lv5:caps_switch"; }
        numlock
        repeat-delay 400
        repeat-rate 50
    }

    touchpad {
        tap
        dwt
        dwtp
        drag true
        drag-lock
        natural-scroll
        scroll-method "two-finger"
        middle-emulation
    }

    mouse {
        scroll-factor 2
    }

    // warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="40%"
    workspace-auto-back-and-forth
}
