// spawn-at-startup "waybar" "--config" "/home/lufimio/.config/waybar/config-niri.jsonc"
// spawn-at-startup "swww-daemon" "--format" "xrgb"
// spawn-at-startup "waypaper" "--restore"
// spawn-at-startup "swayosd-server"
spawn-at-startup "xremap" "--watch=config,device" "/home/lufimio/.config/xremap/config.yml"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "wayscriber" "--daemon"
spawn-at-startup "niri-sticky-windows"
spawn-at-startup "vicinae" "server"
// spawn-at-startup "hypridle"
// spawn-at-startup "swaync"
spawn-at-startup "mpd"
spawn-at-startup "espanso" "start"
spawn-at-startup "easyeffects" "--gapplication-service"
// spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "DISPLAY" "XAUTHORITY" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
