binds {
    Mod+Ctrl+Delete repeat=false hotkey-overlay-title=null { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+N repeat=false hotkey-overlay-title=null { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Escape repeat=false hotkey-overlay-title="Dismiss Popup" { spawn "dms" "ipc" "call" "notifications" "dismiss"; }
    Mod+Shift+Slash repeat=false { spawn "dms" "ipc" "call" "keybinds" "toggle" "niri"; }
    Mod+Delete repeat=false hotkey-overlay-title="Lock Device" { spawn "loginctl" "lock-session"; }

    Mod+Shift+N repeat=false hotkey-overlay-title="Next Song" { spawn "dms" "ipc" "call" "mpris" "next"; }
    Mod+Shift+P repeat=false hotkey-overlay-title="Pause/Play Song" { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    Mod+Shift+B repeat=false hotkey-overlay-title="Previous Song" { spawn "dms" "ipc" "call" "mpris" "previous"; }
    Mod+Shift+Period hotkey-overlay-title=null { spawn "dms" "ipc" "call" "mpris" "increment" "5"; }
    Mod+Shift+Comma hotkey-overlay-title=null { spawn "dms" "ipc" "call" "mpris" "decrement" "5"; }

    XF86AudioRaiseVolume    allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86AudioLowerVolume    allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute           allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86AudioNext           allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPlay           allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPause          allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev           allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
}
