binds {
    Mod+Ctrl+Delete repeat=false hotkey-overlay-title=null { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+N repeat=false hotkey-overlay-title=null { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"; }
    Mod+Shift+Slash repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:keybind-cheatsheet" "toggle"; }
    Mod+Delete repeat=false hotkey-overlay-title="Lock Device" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    Mod+Shift+N repeat=false hotkey-overlay-title="Next Song" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "next"; }
    Mod+Shift+P repeat=false hotkey-overlay-title="Pause/Play Song" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "playPause"; }
    Mod+Shift+B repeat=false hotkey-overlay-title="Previous Song" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "previous"; }
    Mod+Shift+Period hotkey-overlay-title=null { spawn "playerctl" "volume" "0.05+"; }
    Mod+Shift+Comma hotkey-overlay-title=null { spawn "playerctl" "volume" "0.05-"; }

    XF86AudioRaiseVolume    allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume    allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute           allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
    XF86AudioNext           allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "next"; }
    XF86AudioPlay           allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioPause          allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioPrev           allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "previous"; }
}
